<ion-header class="ion-no-border drop-shadow-sm">
  <ion-toolbar>
    <ion-title class="font-bold">Lengkapi Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding" >
    <ion-list class="bg-none  custom-input input-rdp">
     <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-label color="medium" style="" position="floating">Nama Lengkap</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-label color="medium" style="" position="floating">Email</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-label color="medium" style="" position="floating">Nomer Pegawai</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl ">
        <ion-label color="medium" style="" position="floating">Nomer HP</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>

      <!--MODAL -->
      <div id="wilayah-kerja" class="w-full bg-light-tint-costom ion-margin-bottom p-3 rounded-2xl text-medium">
      	<div class="bg-on-primary rounded-xl flex items-center pl-3 pr-3 pt-2 pb-2 justify-between">
      		<div>Wilayah Kerja</div>
      		<div><ion-icon name="chevron-down" class="text-3xl flex items-center"></ion-icon></div>
      	</div>
      </div>
      <div id="wilayah-kerja" class="w-full bg-light-tint-costom ion-margin-bottom p-3 rounded-2xl text-medium">
      	<div class="bg-on-primary rounded-xl flex items-center pl-3 pr-3 pt-2 pb-2 justify-between">
      		<div>Fungsi</div>
      		<div><ion-icon name="chevron-down" class="text-3xl flex items-center"></ion-icon></div>
      	</div>
      </div>
      <div id="wilayah-kerja" class="w-full bg-light-tint-costom ion-margin-bottom p-3 rounded-2xl text-medium">
      	<div class="bg-on-primary rounded-xl flex items-center pl-3 pr-3 pt-2 pb-2 justify-between">
      		<div>Jabatan</div>
      		<div><ion-icon name="chevron-down" class="text-3xl flex items-center"></ion-icon></div>
      	</div>
      </div>

    </ion-list>

  <button type="submit" class="w-full ion-margin-bottom bg-primary-rdp text-on-primary flex items-center justify-center text-center rounded-2xl ion-padding relative" routerLink="/">
    <h6 class="ion-no-margin font-bold">Simpan Profil</h6>
    <!-- <ion-spinner [class.opacity-0]="!isLoading" color="light" class="absolute"></ion-spinner> -->
  </button> 
</ion-content>

</ion-content>







<ion-modal mode="md" trigger="wilayah-kerja" class="no-handle modal-bottom-custom" style="--max-height: 530px;">
  <ng-template>
    <ion-header class="ion-no-border drop-shadow-sm">
      <ion-toolbar>
        <ion-title class="ion-no-padding">Wilayah Kerja</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="pemesanModal.dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

    </ion-content>
  </ng-template>
</ion-modal>
