<ion-header class="ion-no-border drop-shadow-sm">
  <ion-toolbar>
    <ion-buttons slot="start" class="-mr-4">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="font-bold">
      Tambah Permintaan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="font-bold text-rdp mb-2">Perbaikan RDP & Fasum</div>
  <div>
    <ion-list class="bg-none pb-0 custom-input input-rdp">
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-label color="medium" position="floating">Nama Lengkap</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-label color="medium" position="floating">Email</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-label color="medium" position="floating">Nomer Pegawai</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl ">
        <ion-label color="medium" position="floating">Nomer HP</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div class="w-full ion-margin-bottom"><hr style="border-top: 2px solid var(--ion-color-light) !important; width: 100%;"></div>

  <!-- FORM RDP =============================================================== -->
  <div>
    <ion-list class="bg-none pb-0 custom-input input-rdp">
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-label color="medium" position="floating">Alamat RDP / Fasum</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-icon slot="start" name="calendar" color="medium"></ion-icon>
        <ion-label color="medium" position="floating">Tanggal Perbaikan</ion-label>
        <ion-input class="-mb-2 ion-text-capitalize"></ion-input>
      </ion-item>
    </ion-list>
    <!-- loop=================================== -->
    <div class="bg-background rounded-lg drop-shadow-custom ion-padding ion-margin-bottom">
      <div class="font-bold mb-2">Perbaikan RDP & Fasum</div>
      <div class="w-full mb-4"><hr style="border-top: 2px solid var(--ion-color-light) !important; width: 100%;"></div>
      <div id="wilayah-kerja" class="w-full bg-light-tint-costom ion-margin-bottom p-3 rounded-2xl text-medium">
        <div class="bg-on-primary rounded-xl flex items-center pl-3 pr-3 pt-2 pb-2 justify-between">
          <div>Jenis Kerusakan</div>
          <div><ion-icon name="chevron-down" class="text-3xl flex items-center"></ion-icon></div>
        </div>
      </div>
      <div id="" class="w-full bg-light-tint-costom ion-margin-bottom p-3 rounded-2xl text-medium">
        <div class="bg-on-primary rounded-xl flex items-center pl-3 pr-3 pt-2 pb-2 justify-between">
          <div>Foto Kerusakan</div>
          <div><ion-icon name="camera" class="text-3xl flex items-center"></ion-icon></div>
        </div>
      </div>
      <div class="w-full mb-4"><hr style="border-top: 2px solid var(--ion-color-light) !important; width: 100%;"></div>
      <div id="wilayah-kerja" class="w-full bg-light-tint-costom ion-margin-bottom p-3 rounded-2xl text-medium">
        <div class="bg-on-primary rounded-xl flex items-center pl-3 pr-3 pt-2 pb-2 justify-between">
          <div>Jenis Kerusakan</div>
          <div><ion-icon name="chevron-down" class="text-3xl flex items-center"></ion-icon></div>
        </div>
      </div>
      <div id="" class="w-full bg-light-tint-costom ion-margin-bottom p-3 rounded-2xl text-medium">
        <div class="bg-on-primary rounded-xl flex items-center pl-3 pr-3 pt-2 pb-2 justify-between">
          <div>Foto Kerusakan</div>
          <div><ion-icon name="camera" class="text-3xl flex items-center"></ion-icon></div>
        </div>
      </div>
      <div class="w-full mb-4"><hr style="border-top: 2px solid var(--ion-color-light) !important; width: 100%;"></div>
      <div class="font-bold mb-2 text-rdp text-center">+ Tambah Jenis Perbaikan</div>      
    </div>

    <ion-list class="bg-none pb-0 custom-input input-rdp textarea-rdp mb-4">
      <ion-item  fill="outline" class="ion-margin-bottom item-rounded-2xl">
        <ion-textarea placeholder="Catatan..."></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
  <button type="submit" class="w-full ion-margin-bottom bg-primary-rdp text-on-primary flex items-center justify-center text-center rounded-2xl ion-padding relative" routerLink="/">
    <h6 class="ion-no-margin font-bold">Tambah Permintaan</h6>
    <!-- <ion-spinner [class.opacity-0]="!isLoading" color="light" class="absolute"></ion-spinner> -->
  </button>
</ion-content>
