<ion-content class="relative" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="ambilPermintaanTerakhir($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="bg-none flex items-center justify-between ion-margin-bottom">
    <img src="assets/logo.png" class="h-full object-cover" style="height: 20px;">
    <ion-icon routerLink="/notifikasi" name="notifications" style="font-size: 20pt;"></ion-icon>
  </div>

  <div class="absolute w-full bg-header"
    style="height: 240px; z-index: -1; border-radius: 0 0 50% 50%; width: 150vw; left: -25vw; top: 0;"></div>
  <!-- <div class="absolute w-full" style="height: 150vw;width: 180px;z-index: -1;border-radius: 150vw;width: 150vw;left: 45vw;top: -110vw;background: white;opacity: 0.1;"></div> -->
  <!-- <div class="absolute w-full" style="height: 150vw;width: 180px;z-index: -1;border-radius: 150vw;width: 150vw;left: 15vw;top: -110vw;background: white;opacity: 0.1;"></div> -->


  <div class="ion-margin-bottom">
    <div class="bg-background drop-shadow-md ion-padding rounded-xl flex items-center gap-3">
      <div class="bg-background border text-primary rounded-full overflow-hidden flex items-center justify-center"
        style="height: 50px; width: 50px;" routerLink="/akun">
        <b style="font-size: 16pt;">{{inisial}}</b>
        <!-- <img src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg"
          class="h-full object-cover"> -->
      </div>
      <div class="flex-1" routerLink="/akun">
        <h6 class="ion-no-margin ion-text-capitalize"><b>{{user?.namaLengkap}}</b></h6>
        <div class="text-medium">0 Permintaan</div>
      </div>
      <div class="flex rounded-full ion-no-margin" style="font-size: 24pt;" routerLink="/permintaan">
        <ion-icon name="documents-outline"></ion-icon>
      </div>
    </div>
  </div>
  <div>
    <h4 class="text-bold">Pilih Permintaan Baru</h4>
    <div class="grid grid-cols-2 gap-5">
      <div *ngFor="let kat of kategori" [ngClass]="'bg-' + kat.kode + ' text-on-' + kat.kode" class="rounded-lg p-2 drop-shadow-md flex items-center"
        [routerLink]="'/form/' + kat.kode">
        <div class="p-2 flex items-center justify-center" style="width:44px; height:40px;">
          <div class="ion-no-margin flex justify-center">
            <img [src]="'assets/icon/' + kat.kode + '.png'" style="max-width:28px; max-height: 28px;">
          </div>
        </div>
        <small class="leading-3" style="white-space: break-spaces;">{{kat.nama}}</small>
      </div>
    </div>
  </div>
  <div>
    <h4 class="text-bold flex justify-between items-center">
      <span>Permintaan Terakhir</span>
      <small class="text-medium" routerLink="/permintaan">Lihat Semua</small>
    </h4>
    <div *ngIf="!isPtLoading; else ptLoading">
      <div *ngIf="permintaanTerakhir?.length > 0; else noPt;">
        <div *ngFor="let p of permintaanTerakhir"
          class="rounded-lg ion-padding ion-margin-bottom bg-background drop-shadow-md" [routerLink]="'/detail/' + p._id">
          <div class="flex items-center ion-margin-bottom">
            <div class="flex-1">
              <small class="text-medium">Jenis Permintaan</small>
              <div class=" text-bold">{{p.jenis}}</div>
            </div>
            <div [ngClass]="'bg-' + p.kategori + ' text-on-' + p.kategori" class="flex p-2 rounded-lg rounded-lg">
              <img [src]="'assets/icon/' + p.kategori + '.png'" class="mb-px" style="width: 20px; height: 20px;">
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex-1">
              <small class="text-medium">Status</small>
              <div class="ion-no-margin text-bold">Menunggu Persetujuan</div>
            </div>
            <div class="text-right">
              <small class="text-medium">Tgl Permintaan</small>
              <div class="ion-no-margin text-bold">03-04-2022</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noPt>
      <div class="ion-padding border rounded-xl text-center text-medium">Tidak Ada Data Permintaan Terakhir</div>
    </ng-template>
    <ng-template #ptLoading>
      <div class="skeleton">
        <div class="bg-background ion-margin-bottom ion-padding rounded-xl drop-shadow-md" style="height: 136px;">
          <div class="bg-light rounded-md" style="width: 30%; height: 12px; margin-top: 7px;"></div>
          <div class="bg-light rounded-md animate" style="width: 80%; height: 14px; margin-top: 6px;"></div>
          <div class="grid grid-cols-2 gap-3" style="margin-top: 28px;">
            <div>
              <div class="bg-light rounded-md" style="width: 20%; height: 12px;"></div>
              <div class="bg-light rounded-md animate" style="width: 100%; height: 14px; margin-top: 6px;"></div>
            </div>
            <div class="flex flex-col items-end">
              <div class="bg-light rounded-md" style="width: 50%; height: 12px; float: right;"></div>
              <div class="bg-light rounded-md animate" style="width: 80%; height: 14px; margin-top: 6px; float: right;"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>