<ion-header class="ion-no-border drop-shadow-sm">
	<ion-toolbar>
		<ion-title class="font-bold">Pemberitahuan</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
	<div class="flex items-center justify-center ion-margin-bottom w-full" style="margin-top:80px;">
		<img src="assets/auth/stuju.png" class="h-full object-cover">
	</div>
	<div class="w-full text-center ion-margin-bottom" style="margin-top:80px;">
		<div class="text-medium font-bold text-sm">Kata Sandi Kamu Telah Berhasil di Ganti Silakan<br>Login Kembali.</div>	
	</div>
</ion-content>
<ion-toolbar class="pr-4 pl-4">
	<button type="submit" class="w-full ion-margin-bottom bg-primary-rdp text-on-primary flex items-center justify-center text-center rounded-2xl ion-padding relative" routerLink="/masuk">
		<h6 class="ion-no-margin font-bold">Masuk</h6>
		<!-- <ion-spinner [class.opacity-0]="!isLoading" color="light" class="absolute"></ion-spinner> -->
	</button>
</ion-toolbar>